* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.player_container {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-top: 16px;
  border: 1px solid #34d399;
}

$player_button_size: 48px;

.prev_btn,
.next_btn,
.pause_btn {
  width: $player_button_size;
  height: $player_button_size;
  cursor: pointer;
  display: inline-block;
}